.main{
  display: flex;
  flex-direction: row;
}
.left_main{
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  width: 9%;
}
.right_main{
  background-color: #1D1D1D;
  width: 91%;
}


